<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="supertextConfiguration" type="Supertext.Base.NetFramework.Configuration.SupertextConfigurationSection, Supertext.Base.NetFramework.Configuration, Version=1.0.0.0, Culture=neutral" />
  </configSections>

  <appSettings>
    <add key="SomeInt" value="4711" />
    <add key="someString" value="any Value" />
    <add key="aJsonStructureWithInts" value='{"Prop1":19,"Prop2":20}' />
    <add key="aJsonStructureWithStrings" value='{ "Prop1": "string 1", "Prop2": "string 2" }' />
  </appSettings>

  <supertextConfiguration>
    <appSettings>
      <add key="AnotherInt" value="9712" />
      <add key="AnotherString" value="another value" />
      <add key="Super-Secret" value="very secret value" />
    </appSettings>
  </supertextConfiguration>

  <connectionStrings>
    <add name="supertext" connectionString="bla" />
    <add name="groupshare" connectionString="bla" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>