<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SomeInt" value="4711" />
    <add key="someString" value="any Value" />
  </appSettings>

  <connectionStrings>
    <add name="supertext" connectionString="bla" />
    <add name="groupshare" connectionString="bla" />
  </connectionStrings>
</configuration>